<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Authores</h3>
        </div>

        <div class="card-body">

            <button (click)="init()" class="btn btn-warning" style="margin-left: 10px;">Inicializar</button>
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Author</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let author of authors">
                        <td>{{author}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="verObras(author)" style="margin-left: 5px;">Obras</button>
                            <button class="btn btn-danger" (click)="agregarFav(author)" style="margin-left: 5px;">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>